* {
	box-sizing: border-box;
}

a {
    // color: white;
    text-decoration: none;

    

    @include breakpoint ($large) {
       &:hover {
        color: $highlightb;
        
        transition: .3s ease;
       }

    }
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
	font-family: "Open Sans", sans-serif;
	color: $bodytext;

  
   
}

.wrapper {
      max-width: 1280px;
        margin: 0 auto;
        width: 90%;

}

article {
    margin-bottom: 1em;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    // text-transform: uppercase;
    // color: $headers;
    margin: 0px;
    // margin-bottom: .5em;
    font-weight: 400;
}

h2 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
     color: $headers;
     margin: 0px;
     font-weight: 400;
}

h3 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
     color: $headers;
     margin: 0px;
}


p {
	margin: 0px;
}