
.design {
	


	article {
		
		
		margin: 1.5em;
		float: left;
		max-width: 100%;

	}


}

.image1 {
	background-image: url("../img/homeppc.jpg");
	background-size: 336px 468px;
	height: 468px;
	width: 336px;
	

}

.image2 {
	background-image: url("../img/aboutppc.jpg");
	background-size: 336px 646px;
	height: 646px;
	width: 336px;
	
	
}

.image3 {
	background-image: url("../img/resippc.jpg");
	background-size: 336px 570px;
	height: 570px;
	background-image-repeat: no-repeat;
	width: 336px;
	
	
}

.image4 {
	background-image: url("../img/singleppc.jpg");
	background-size: 336px 621px;
	height: 621px;
	background-image-repeat: no-repeat;
	width: 336px;


}

.imageBefore {

background-image: url("../img/PPCbefore.jpg");
	background-size: 698px 409px;
	height: 409px;
	width: 698px;
	background-image-repeat: no-repeat;
	max-width: 100%;


}


