


.tools {
	display: block;
	width: 100%;
	// background-color: $highlightb;

	padding: 2em 5%;

	@include breakpoint ($large) {
		width: 33.33%;
		display: inline-block;
		padding-bottom: 400em;
		margin-bottom: -400em;

	}
	p {
		color: $highlighta;
		font-weight: 900;
		line-height: 2em;
	}
}