$bodytext: #505050;
$textondark: #f1f1f1;
$headers: #333;
$highlightb: #9bcc26;
$highlighta: #454545;
$background: #ebebeb;




$med:660px;
$large: 980px;

@mixin breakpoint($point) {
	@media (min-width: $point) {
		@content;
	}
}