
.website {
	height: 400px;
	position: relative;
	

	
	

	@include breakpoint ($large) {
		height: 300px;
	}

	.titles {

		position: absolute;
		top: 50%;
		
		margin-top: -2em;
		text-align: center;
	}	
	h2 {
		opacity: 0;
		transition: opacity .3s linear;
		display: block;
		text-align: center;


	}

	&:hover {
		h2 {
			opacity: 1;
		}
	}
}

	
.work {
	width: 100%;
}

.ppc {
	background-image: url(../img/PPC.jpg);
	background-size: cover;
	opacity: 1;
	transition: opacity .3s linear;

	&:hover {
		opacity: .2;

		
	}
}

.conquest {
	background-image: url(../img/Conquest.jpg);
	background-size: cover;
	background-position: center;
	opacity: 1;
	transition: opacity .3s linear;

	&:hover {
		opacity: .2;

		
	}

}

.works {
	
	p {
		margin-bottom: 3em;
	
	}

	


	@include breakpoint ($large) {
		h1 {
			margin-top: 1em;
		}

	}
}



.website {
	@include breakpoint ($med) {
		margin-right: 2.5%;
		width: 47.5%;
		float: left;

	}

	@include breakpoint ($large) {
		width: 30%;
		margin-right: 3%;


	}

	h2 {
		margin-bottom: .5em;
	}

	background-color: $textondark;



}



.preview {
	color:#222;

	@include breakpoint ($large) {
	transition: color .5s ease;

	&:hover {
		color: $highlightb;
	}
}
}




