
nav {
	// background-color: $highlighta;
	padding-top: 1em;
	padding-bottom: 0.3em;
		list-style-type:none;
	// padding-right: 5%;
	color: $bodytext;
	margin: 0px;



		
		font-size: 1em;
		// width: 100%;
		margin-bottom: 1em;
			&:last-child {
			 margin-bottom: none;
			}

	p {
		padding-bottom: 1.5em;
	}		



	// padding-left: 5%;

	h1{

	color: $bodytext;
	display: inline-block;
	
	}


	
}	

i {
	color:$bodytext;
	font-size: 1.5em;
}

	




.number {

		@include breakpoint ($med) {
		margin-right: 4em;
		}
}

.links {
	li {
		list-style-type: none;
	}
	padding-left: 0px;
}






